@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

html{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
    color: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 0rem;
}
/* end */
nav{
    padding: .5rem 2rem 1rem 2rem;
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    background: transparent;
}

.nav-item{
    padding-right: 2rem;
}

.logo img{
    height: 3rem;
    margin-top: 1rem;
    object-fit: contain;
}

.nav-right{
    display: flex;
}

.nav-item a{
    text-decoration: none;
    color: whitesmoke;
    padding: 0 0 0 2rem;
}
.nav-item button{
    cursor: pointer;
    font-size: 1rem;
    border-radius: 1rem;
    font-size: 2rem;
    background: black;
    padding: .5rem 1.5rem;
    border-radius: 2rem;
    color: white;
}

.nav-item button:hover{
    background: white;
    color: black;
    transition: .5s;
}

.header{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.header .bg-img{
    position: absolute ;
    height: 50%;
    width: 40%;
    z-index: -1000;
    left: 10%;
    top: 25vh;
}


.box{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.left-box{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.right-box{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.ff-heading{
    font-size: 59px;
    margin: 1.3%;
}

.ff-tagline{
    width: 60%;
    margin: 1.3%;
    font-size: 25px;
    text-align: center;
}


.ff-info{
    width: 60%;
    margin: 1.3%;
    font-size: 20px;
    text-align: justify;
}


.btns{
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

 /* Styling for the popup */
 .popup {
    display: none;
    position: fixed;

    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: black;
    background: #fee6e3;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    z-index: 10000;
}

.popup button{
    cursor: pointer;
    padding: 1rem;
    font-size: 1rem;
    background: whitesmoke;
    color: #3d1b0e;
    border-radius: 1rem;
}

.popup button:hover{
    background: #3d1b0e;
    color: whitesmoke;
    transition: .5s;
}

.popup video{
    padding: 4rem 4rem 1rem;
    height: auto;
    width: 70rem;
}

/* Styling for the overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.begin {
  align-items: center;
  background: #3D8198;
  border-radius: 8px;
  font-family: "Kode Mono", monospace;
  color: white;
  cursor: pointer;
  justify-content: center;
  height: 4rem;
  padding: 0 1.5rem;
  font-size: 20px;
  width: 100%;
  text-decoration: none;
  margin-left: 10%;
  border: 0.5px solid black;


}

.begin:hover{
    background: #B8E0E1;
    color: black;
    transition: .5s;
    border: 2px solid #111;

}

#lower-half{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
}

#lower-half .title{
    text-align: center;
    font-size: 4rem;
}

.game-container{
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.games{
    background: #43365F;
    width: 30vw;
    height: 50vh;
    margin: auto;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.game-container a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1rem;
    width: 30vw;
}

.games:hover{
    background: #EB6681;
    transition: .5s;
    color: black;
    border: 2px solid #111;

}

.games h1{
    /* margin: 1rem 0;
    padding: 1rem 0; */
    font-size: 2.5rem;
    text-align: center;
    font-family: "Kode Mono", monospace;
}

.games p{
    margin: 3rem;
    text-align: center;
    font-size: 1.5rem;
}

footer{
    margin-top: 10rem;
    width: 100%;
    background: black;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}

footer h1{
    margin: 2rem 0 1rem 0;
}
